/* Reset and common styles */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Image styles */
.gambar {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gambar .foto img {
    width: 315px;
}

.foto {
    border: 1px solid #00c1b3;
    margin: 10px;
    text-align: center;
}

.foto a:hover {
    background-color: green;
    color: #fff;
}

.foto a {
    border: 1px solid green;
    padding: 10px;
    color: white;
    background: #00c403;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}

.foto p {
    color: #ff7476;
}

.foto h2 {
    color: #505050;
}

/* Genre Button styles */
.genre-button {
    display: block;
    width: 95%;
    height: auto;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #00c1b3;
    transition: background-color 0.3s ease;
    margin: 0 auto 10px;
}
