@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: #14b8b8;
    --text-color: #020307;
    --bg-color: #fff;
    --primary: #b6895b;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    text-align: center;
    /* background: var(--main-color); */
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
}

header.shadow .navbar a {
    color: var(--text-color);
}

header.shadow .logo {
    color: var(--text-color);
}

.bx {
    color: var(--main-color);
}

/* Warna putih pada awalnya */
.navbar-brand {
    color: var(--bg-color);
    /* Ganti dengan warna putih yang diinginkan */
    text-decoration: none;
    /* Remove underline */
    position: relative;
    /* Add position relative to make ::after absolute positioning work */
}

/* Menambahkan efek hover saat di-scroll */
header.shadow .navbar-brand {
    color: var(--text-color);
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #fa1216;
}

section {
    padding: 4.5rem 0 1.5rem;
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.5);
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--main-color) !important;
}

.home-text {
    z-index: 1000;
    padding: 0 150px;
}

.home-text span {
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1 {
    color: var(--bg-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.play {
    position: absolute;
    right: 4rem;
    bottom: 10%;
}

.play .bx {
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7, 0.5);
    color: var(--main-color);
}

.play .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

/* movies  */
.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
    text-align: center;
    }

.movies-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box span {
    font-size: 14px;
}

/* coming container  */
.coming-container {
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.coming-container .box img:hover {
    transform: translateY(0);
}

.coming-container .box img {
    border-radius: 15px;
}

@media (max-width: 1080px) {
    .home-text {
        padding: 0 100px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text {
        padding: 0 4%;
    }

    .home-text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 774px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
        color: var(--bg-color);
    }

    header.shadow #menu-icon {
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
    }

    .navbar a {
        color: var(--text-color);
    }

    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .btn {
        padding: 0.6rem 1.2rem;
    }

    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
}

@media (max-width: 472px) {
    .newsletter form .email {
        width: auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .container {
        width: 100%;
        min-height: 500px;
    }

    header {
        padding: 6px 4%;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    .play {
        right: 2rem;
        bottom: 8%;
    }

    .play .bx {
        padding: 7px;
    }

    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
}

/* ----------------------------------------------------------

/* Genre Buttons */
.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-row button,
.genre-button {
    width: 30%;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.genre-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #a9a9a9;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin-left: 30px;
}

.genre-button:hover {
    background-color: #14b8b8;
}

h1.genre {
    margin-top: 77px;
}

@media only screen and (max-width: 768px) {
    .button-row button,
    .genre-button {
        width: 48%; /* Mengubah lebar tombol untuk layar yang lebih kecil */
    }

    .genre-button {
        margin-left: 0; /* Menghapus margin kiri pada tombol */
    }
}

/* LOGIN */
section.seclog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url("/img/cinema.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2.login {
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}
.forget label a {
    color: #fff;
    text-decoration: none;
}
.forget label a:hover {
    text-decoration: underline;
}
button.btn-login {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
